<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class= 'bar'> 
    <div class= 'f_row'>

        {% if user.is_authenticated %}
        User: {{user.username}}
        <a class='profile' href="{% url 'profile' user.username %}" >Profile</a><a class= 'logout' href="{% url 'logout' %}">Logout</a> 
        {% else %}
        <form method="post">
            {%csrf_token%}
            <span >Username:<span class= "login">{{form.username}}</span></span>
            <p >Password:<span class= "password">{{form.password}}</span></p>
            <button>Submit</button>
            </form>
        {% endif %}
        </div>
        <div class='s_row'>
        <a href="{% url 'resetpassword' %}">Reset password</a>
        </div>
</div>   
</body>
</html>