{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum - resetpassword</title>
</head>

<body>
    {% include 'nav_bar.html'%}
    <div class="row justify-content-md-center">
        <div class="col-4 list-group" style="margin-top:100px">
            <div class="list-group-item">
                <form method="post">
                    {% csrf_token %}
                    <p>{{form.email|as_crispy_field}}</p>
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <form method="post">

    </form>

</body>

</html>